node_modules*
dist
config/config.ts
log
generate
___*
test/
nodemon.test.json

src/plugins/test.ts
src/plugins/gameInfo.ts

data/history/*
data/extract/*
data/images/*
data/accuseCharacters/*
data/signData.json
data/ostracismData.json*
data/gachaPoolInfo.json
data/studentInfo.json
data/studentNameAlias.json
data/aliasStudentNameLocal.json
data/biliPayload.txt
data/getPromotion.nx
data/npparams
data/ck.json
data/errorMessageTemaple.html
data/keyboardMap.ts
data/dynamicPush.ts
data/aiPrompt.txt
