node_modules
dist
config/config.json
log
generate
___*
data/signData.json
data/ostracismData.json*
data/gachaPoolInfo.json
data/studentInfo.json
data/studentNameAlias.json
data/dynamicPush.json
data/aliasStudentNameLocal.json
data/history/*
data/biliPayload.txt
data/getPromotion.nx
data/npparams
data/ck.json
data/extract/*
test/
nodemon.test.json
data/accuseCharacters/*
data/images/*