node_modules
dist
config/config.json
log
generate
___*
data/signData.json
data/ostracismData.json*
data/gachaPoolInfo.json
data/studentInfo.json
data/studentNameAlias.json
data/dynamicPush.json
data/aliasStudentNameLocal.json
